
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Noto+Sans+Thai:wght@100..900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* --COLOR VARIABLE-- */

    --primary-color: #2d6ffb;
    --linear-primary: linear-gradient(90deg, #82a3eb 0%, #f0c0f0 100%);
    --secondary-color: #ff6b6b;
    --success-color: #1dd1a1;
    --sidebar-color: #fafafa;
    --background-color: #f5f3f3;
    --text-color: #474646;
    --shadow-color: rgb(233, 233, 233);
    --shadow-color-hover: rgb(217, 219, 221);
    --hover-color1: rgb(230, 223, 223);
    --hover-color2: rgb(202, 200, 200);
    --success-color2: #DFF7E7;
    --warning-color: #FFE6CC;
    
    /* --FONT VARIABLE-- */

    --font-primary: 'Poppins', sans-serif;
    --font-size: clamp(1rem, 2.5vw, 1rem);

    --box-shadow: 1px 2px 3px var(--shadow-color);
    --box-shadow-hover: 2px 3px 5px var(--shadow-color-hover);

    --padding10: min(2%, 10px);
    --padding20: min(5%, 20px);
    --padding30: min(7%, 30px);
    --padding40: min(10%, 40px);
}
body.dark{
    --shadow-color: rgb(3, 14, 37);
    --shadow-color-hover: rgb(8, 23, 56);
    --sidebar-color: #2A3545;
    --background-color: #192333;
    --text-color: white;
    --box-shadow: 1px 2px 3px var(--shadow-color);
    --box-shadow-hover: 2px 3px 5px var(--shadow-color-hover);
}

/* TAG STYLES */

*{
    box-sizing: border-box;
    font-family: var(--font-primary);
    font-size: var(--font-size);
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    display: flex;
    color: var(--text-color);
    background: var(--background-color);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    color: var(--text-color);
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}


/* GROUP STYLE */

.sidebar.close ~ .app-header, 
.sidebar.close ~ section.main-content
{
    left: 88px;
    width: calc(100% - 88px);
}
section.main-content{
    position: relative;
    top: 60px;
    padding: var(--padding40) var(--padding20);
    background: var(--background-color);
    width: calc(100% - 250px);
    left: 250px;
}


/* HEADER STYLES */

.app-header {
    position: fixed;
    width: calc(100% - 250px);
    left: 250px;
    background: var(--sidebar-color);
    padding: var(--padding20);
    box-shadow: var(--box-shadow);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 20px;
}
.app-header i{
    font-size: 1.5rem;
    display: none;
}
.app-header .header-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.app-header .user h3,
.app-header .user p{
    margin: 0;
}
.app-header .user p{
    font-size: 0.8rem;
}
.app-header .user-img{
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
}
.app-header .user-img img{
    width: 100%;
}


/* SIDEBAR STYLES */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--sidebar-color);
    transition: all 0.3s ease;
    z-index: 100;
}
.sidebar .text{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    transition: all 0.2s ease;
}
.sidebar header{
    position: relative;
    padding: var(--padding20);
}
.sidebar hr, .sidebar .menu-bar hr{
    border: 1px solid var(--hover-color1);
}
.sidebar .image-text{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sidebar .image{
    width: 40px;
    display: flex;
    align-items: center;
}
.sidebar .image-text img{
    width: 100%;
}
.sidebar .image-text .name{
    color: var(--primary-color);
}
.sidebar .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.sidebar .image-text .header-text .caption{
    font-size: 0.8rem;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebar-color);
    font-size: 1.5rem;
    transition: all 0.2s ease;
}
.sidebar .menu-bar{
    padding: var(--padding20);
}
.sidebar .menu-bar .menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar .menu-bar li{
    border-radius: 10px;
    padding: var(--padding20);
    list-style: none;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}
.sidebar .menu-bar li .icon{
    font-size: 1.5rem;
}
.sidebar li .icon{
    color: var(--text-color);
}
.sidebar li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sidebar .menu-bar .footer-bar .text,
.sidebar .menu-bar .footer-bar .icon{
    color: var(--secondary-color);
}
.sidebar li:hover{
    background: var(--hover-color1);   
}

/* SIDEBAR CLOSE STYLE */

.sidebar.close{
    width: 88px;
}
.sidebar.close header{
    padding: var(--padding40);
}
.sidebar.close header .toggle{
    transform: translateY(-50%) rotate(180deg);
}
.sidebar.close .text,
.sidebar.close .image-text .header-text
{
    display: none;
}
.sidebar.close .menu-bar a{
    margin: auto;
    padding: var(--padding20);
}


/* MAIN APP SECTION */

#app {
  flex: 1;
}

/* LANDING PAGE SECTION */


.welcome-section{
    padding: var(--padding20);
    background: var(--background-color);
    object-fit: contain;
}
.welcome-section header{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    margin-bottom: 100px;
}
.welcome-section header img{
    width: 30px;
    filter: invert(46%) sepia(88%) saturate(3316%) hue-rotate(209deg) brightness(101%) contrast(101%);
}
.welcome-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;
    align-items: end;
}
.welcome-btn{
    padding: var(--padding20) var(--padding30);
    margin: 40px 10px 40px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}
.register-btn{
    background-color: var(--primary-color);
    color: white;
}
.register-btn:hover{
    background-color: var(--primary-color);
}
.login-btn{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.login-btn:hover{
    background-color: #e6f0ff;
}
.welcome-features{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
}
.welcome-features img{
    width: 20px;
    filter: brightness(0) invert(1);
}
.welcome-items{
    width: fit-content;
    text-align: center;
}
.welcome-items div{
    width: 30px;
    height: 30px;
    padding: var(--padding10);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}
.welcome-features .item1 div{
    background-color: var(--primary-color);
}
.welcome-features .item2 div{
    background-color: var(--secondary-color);
}
.welcome-features .item3 div{
    background-color: var(--success-color);
}
.welcome-container .welcome-image{
    background: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}


/* REGISTRATION SECTION */


.registration-section{
    background: var(--background-color);
    padding: var(--padding20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-fieldset{
    border: none;
    width: 100%;
    max-width: 800px;
    padding: var(--padding10) var(--padding20);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    background-color: var(--sidebar-color);
    text-align: left;
}
.form-fieldset legend, .form-fieldset p, .form-fieldset a{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-fieldset p{
    margin-top: -10px;
    margin-bottom: 20px;
}
.form-fieldset legend{
    font-weight: bold;
}
.form-fieldset label{
    font-weight: bold;
    text-align: left;
}
.form-fieldset input{
    padding: var(--padding10);
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
.form-fieldset input:focus{
    outline: none;
    border-color: var(--primary-color);
    box-shadow: var(--box-shadow);
}
.form-fieldset button{
    margin-top: 20px;
    padding: var(--padding10);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}
#registrationSectionBackBtn, #loginSectionBackBtn, #forgotPasswordBackBtn, #resetPasswordBackBtn{
    background-color: transparent;
    border: none;
    text-align: left;
    color: var(--text-color);
    margin-bottom: 20px;
    width: fit-content;
}
.form-fieldset button:hover{
    background-color: #1a4ed8;
}


/* LOGIN SECTION */


.login-section{
    padding: var(--padding20);
    height: 100vh;
}
.login-section fieldset{
    height: fit-content;
    margin: auto;
}
.remember-me{
    display: flex;
    align-items: center;
    gap: 5px;
}
.remember-me input{
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.remember-me label{
    font-weight: normal;
}

.forgot-password-link{
    text-align: center;
    margin-top: 10px;
}
.forgot-password-link a{
    color: var(--primary-color);
    text-decoration: none;
}
.forgot-password-link a:hover{
    text-decoration: underline;
}


/* FORGOT PASSWORD SECTION */


.forgot-password-section{
    background: var(--background-color);
    width: 100%;
    height: 100vh;
    padding: var(--padding20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-password-section{
    background: var(--background-color);
    padding: var(--padding20);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}
.success {
    color: green;
    font-size: 0.9rem;
    margin-top: 4px;
}


/* DASHBOARD SECTION */


.dashboard .features-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
}
.dashboard .features-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding20);
    background: var(--sidebar-color);
    border-radius: 10px;
}
.dashboard .features-cards .icon-container{
    background: var(--success-color);
    padding: var(--padding10);
    border-radius: 5px;
    display: flex;
    align-items: center;

}
.dashboard .features-cards .icon-container .icon{
    font-size: 1.5rem;
    color: white;
}
.dashboard .updates{
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px, 1fr));
    gap: 20px;
}
.dashboard .updates .updates-card{
    background: var(--sidebar-color);
    padding: var(--padding20);
    border-radius: 20px;
}
.dashboard .updates .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard .updates .info a{
    color: var(--primary-color);
    cursor: pointer;
}
.dashboard .updates .list{
    display: flex;
    flex-direction: column;
}
.dashboard .updates .list .list-box{
    display: flex;
    align-items: start;
    gap: 15px;
    margin-bottom: 20px;
    padding: var(--padding20);
    background: var(--background-color);
    border-radius: 10px;
}
.dashboard .updates .list .list-box .bx{
    padding: var(--padding10);
    border-radius: 10px;
    color: white;
    background: var(--primary-color);
}
.dashboard .updates .list .list-box p{
    margin: 0;
}
.dashboard .updates .list .list-box .due, 
.dashboard .updates .list .list-box span{
    font-size: 0.8rem;
}
.dashboard .updates .list .list-box .due{
    color: var(--secondary-color);
}
.dashboard .updates .list .list-box .upcoming-icon{
    background: var(--success-color);
}
.dashboard .updates .list .list-box .class-venue{
    color: var(--primary-color);
    font-size: 0.8rem;
}


/* PROFILE SECTION */

.profile-section article{
    border-radius: 10px;
    background: var(--sidebar-color);
    padding: var(--padding20);
}
.profile-section .profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
}
.profile-container .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;

}
.profile-container .profile-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.profile-container .info .bx{
    position: absolute;
    right: 0;
    top: 60%;
    font-size: 1rem;
    padding: var(--padding10);
    background: var(--primary-color);
    border-radius: 10px;
    color: white;
    display: none;
    cursor: pointer;
}
.profile-container .profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-container .edit-profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}
.profile-container .edit-profile input, 
.profile-container .edit-profile textarea
{
    padding: var(--padding10);
    width: 100%;
    font-size: 1rem;
    border: 2px solid var(--hover-color1);
    border-radius: 10px;
    margin-bottom: 10px;
    resize: none;
    color: var(--text-color);
    background: var(--sidebar-color);
}
.profile-container .edit-profile input{
    padding-left: 50px;
}
.profile-container .edit-profile .input-icon-container{
    position: relative;
}
.profile-container .edit-profile .bx{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.5rem;
    color: var(--hover-color1);
}
.profile-container .edit-profile #editProfileBtn{
    padding: var(--padding10);
    background: var(--primary-color);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
    transition: all 0.5s ease;
}
.edit-profile .edit{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.edit-profile .edit{
    display: none;
}
.edit-profile .edit button{
    padding: var(--padding10);
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}
.edit-profile .edit #saveProfileChanges{
    color: white;
    background: var(--primary-color);
}
.academic-info .academic-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    border-radius: 10px;
    padding: var(--padding10);
}
.academic-container .academic-box{
    display: flex;
    gap: 10px;
    align-items: center;
    background: var(--background-color);
    padding: var(--padding20);
    border-radius: 10px;
    width: 100%;
}
.academic-container .bx{
    padding: var(--padding10);
    background: var(--success-color);
    border-radius: 10px;
}

/* COURSE SECTION STYLE */

.filter-sort-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    background: var(--sidebar-color);
    border-radius: 10px;
    padding: var(--padding20);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}
.filter-sort select{
    width: 100%;
    padding: var(--padding10);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--hover-color1);  
    background: var(--sidebar-color);  
}
.add-course-btn{
    padding: 5px;
    color: white;
    background: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;

}

.course-section .courses{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.courses .course-info{
    border-radius: 10px;
    background: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--padding20);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}
.course-info:hover{
    box-shadow: var(--box-shadow-hover);
}
.courses .course-info div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.course-info p{
    font-size: 0.8rem;
}
.course-info .bx-pencil{
    color: var(--primary-color);
    cursor: pointer;
}
.course-info .bx-trash{
    color: var(--secondary-color);
    cursor: pointer;
}
/* Overlay (dim background) */
#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  z-index: 1000;
}

/* Modal container */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 300px;
  background: var(--background-color);
  border-radius: 12px;
  padding: var(--padding20);
  display: none;
  z-index: 1001;
}

/* Fieldset styling */
.modal fieldset {
  border: none;
}

.modal label {
  display: block;
  margin-top: 12px;
  font-weight: 500;
  color: var(--text-color);
}

.modal input,
.modal select {
  width: 100%;
  padding: var(--padding10);
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid var(--hover-color1);
  background: var(--sidebar-color);
  color: var(--text-color);
}

.modal-actions {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.modal-actions button{
    padding: var(--padding10);
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    width: 100%;
}
.modal-actions #saveCourse{
    background: var(--primary-color);
    color: white;
}
.modal-actions #cancelCourse{
    background: var(--sidebar-color);
    color: var(--text-color);
}
#addCourseErrorMessage{
    display: none;
    color: var(--secondary-color);
}

/* ASSIGNMENT STYLE */
.add-assignment-btn{
    padding: 5px;
    color: white;
    background: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
}
.assignment-filter-container{
    background: var(--sidebar-color);
    border-radius: 10px;
    padding: var(--padding20);
    box-shadow: var(--box-shadow);
    margin-bottom: 20px;
}
.assignment-filter-container select{
    padding: var(--padding10);
    border-radius: 10px;
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--hover-color1);    
    background: var(--sidebar-color);
}
.assignments{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.assignment-info-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: red;
    padding: var(--padding20);
    border-radius: 10px;
    background: var(--sidebar-color);
    box-shadow: var(--box-shadow);
}
.assignment-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.assignment-submitted-info{
    background: var(--success-color);
    border-radius: 10px;
    padding: var(--padding10);
    color: white
    ;
}
.assignment-info-left{
    font-size: 0.8rem;
    align-items: start;
}
.assignment-info-left,
.assignment-info-submit{
    display: flex;
    gap: 10px;
}
.assignment-info-left .bx{
    padding: var(--padding10);
    background: var(--warning-color);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    color: #ff6b6b;
    font-size: 1.5rem;

}
#saveAssignment{
    background: var(--primary-color);
    color: white;
}
#cancelAssignment{
    background-color: var(--sidebar-color);
    color: var(--text-color);
}
.assignment-info-submit{
    align-items: center;
    background: var(--primary-color);
    padding: var(--padding10);
    border-radius: 10px;
    margin: 0;
    height: fit-content;
    color: white;
}

#submitAssignmentModal textarea{
    width: 100%;
    padding: var(--padding10);
    border: 1px solid var(--hover-color1);
    border-radius: 10px;
    background: var(--sidebar-color);
    color: var(--text-color);
}
#submitAssignmentModal .file-upload-container{
    text-align: center;
    width: 100%;
    border: 2px dashed var(--hover-color1);
    border-radius: 10px;
    padding: var(--padding10);
    color: var(--hover-color2);
}
#submitAssignmentModal .file-upload-container .bx{
    font-size: 2rem;
}
#submitAssignmentModal .file-upload-container p{
    font-size: 0.8rem;
}
#submitAssignmentModal .modal-actions #submitAssignmentUpload{
    background: var(--primary-color);
    color: white;
}
#submitAssignmentModal .modal-actions #cancelAssignmentUpload{
    background: var(--sidebar-color);
    color: var(--text-color);
}


/* SETTINGS STYLES */

.settings-section .appearance-mode-container{
    background-color: var(--sidebar-color);
    padding: var(--padding20);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.appearance-mode-container h3{
    font-size: 0.9rem;
}
.appearance-mode-container .mode-box{
    padding: var(--padding20);
    background-color: var(--background-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mode-box .mode-text-icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mode-box .mode-text-icon i{
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.mode-box .mode-text-icon .bx-sun{
    background: rgb(255, 250, 185);
    color: var(--secondary-color);
}
.mode-box .mode-text-icon .bx-moon{
    background: rgb(34, 44, 136);
    color: var(--primary-color);
}
.mode-box .mode-text-icon p{
    font-size: 0.7rem;
}
.mode-box .mode-toggle-box{
    background-color: #cecfcf;
    padding: 5px;
    border-radius: 25px;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.mode-toggle-box .mode-toggle-switch{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.3s ease;
    
}
.mode-toggle-box.active{
    background: var(--primary-color);
}
.mode-toggle-box.active .mode-toggle-switch{
    transform: translateX(100%)
}

@media (max-width: 768px){
    .sidebar.hidden{
        display: none;
    } 
    .sidebar {
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        display: block;
        z-index: 1000;
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .app-header{
        width: 100%;
        left: 0;
        z-index: 1001;
    }
    .app-header i{
        display: inline-block;
    }
    section.main-content{
        width: 100%;
        left: 0;
    }
    .sidebar.close ~ .app-header, 
    .sidebar.close ~ section.main-content
    {
        left: 0;
        width: 100%;
    }
    .welcome-container .welcome-image{
        display: none;
    }
    .welcome-container{
        display: inline-block;
        padding: 10px;
    }
}